<div
  class="container h-100 d-flex justify-content-center align-items-center py-5"
>
  <div class="card text-dark bg-info w-100" style="max-width: 600px">
    <div class="card-header text-center fw-bold">Create User</div>
    <div class="card-body">
      <form>
        <div class="mb-3">
          <label class="form-label">Username:</label>
          <input
            type="text"
            [(ngModel)]="userObj.username"
            name="username"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Password:</label>
          <input
            type="text"
            [(ngModel)]="userObj.password"
            name="password"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Role:</label>
          <input
            type="text"
            [(ngModel)]="userObj.roles"
            name="role"
            class="form-control"
          />
        </div>
        <div class="text-center mt-4">
          <button type="button" class="btn btn-secondary me-2 btn-sm">
            Reset
          </button>
          <button
            type="button"
            class="btn btn-dark btn-sm"
            (click)="CreateNewUser()"
          >
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
